# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Dataset
dataset/

# ML models
models/*.pth
models/*.pt
models/*.h5
models/*.ckpt

# Environment
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log